@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    list-style: none;
}

a {
    color: #ffff;
    text-decoration: none;
}

body {
    background-color: #100E11;
}

/* NAVBAR */
.navHeader {
    background-color: #100E11;
}
.navHeader .btnUserWishCartSearchDrop {
    font-size: 20px;
    color: #ffff;
}

.navHeader i:hover {
    color: #8C7F3B;
    transition: .5s;
}

.navHeader .form-control {
    border: 1px solid #ffff;
}

.navHeader .form-control:focus{
    border: 1px solid #8C7F3B;
    transition: .5s;
}

/* CAROUSEL */
.carousel-indicators li {
    width: 10px;
    height: 10px;
    /* border-radius: 100%; */
}
.setasCarousel .fas {
    font-size: 2em;
}

  /* PESQUISA DA NAVBAR */

::placeholder {
    color: #ffff;
}

.navPrincipalTop {
    background-color: #100E11;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 0;
    height: 50px;
}

.menuCollapse{
    background-color: #100E11;
}
.menuCollapse ul li {
    text-decoration: none;
}

.menuCollapse li a,
a:hover {
    text-decoration: none;
    color: #ffff;
}

.efeitoLink::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffff;
    transition: width .3s;
}

.efeitoLink:hover::after {
    width: 100%;
    transition: width .3s,
}

/* BOTÃO */
.btnPadrao {
    color: #ffff;
    background-color: transparent;
    border-color: #ffff;
    text-overflow: clip;
}

.buscaPrincipal {
    display: flex;
    flex-wrap: wrap;
}

.userWishCart {
    color: #ffff;
    background-color: transparent;
}

.iconsNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dropMenuBg {
    background-color: #151415;
    border: 1px solid #ffff;
}

.dropMenuBg ul li a {
    color: #ffff;
    text-decoration: none;
}

.midiasSociais {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.tavernaFooter {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    max-width: 100%;

}

.midiasSociais .fab {
    font-size: 2em;
    color: #ffff;
}

.linksFooter {
    color: #ffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer {
    background-color: #100E11;
}

footer span .fab {
    font-size: 20px;
}

.barraChamada {
    border: 2px solid transparent;
    border-radius: 7px;
    background-color: rgb(95, 91, 91);
}

.barraChamada h3 {
    font-weight: bold;
    color: #100E11;
}

.barraChamada .fas {
    font-size: 25px;
}

/* MENU DE LOJA */

.menuLoja #nota {
    font-size: 10vw;
}

.menuLoja span {
    text-align: center;
    vertical-align: middle;
    line-height: normal;
}

.menuLoja ul li i {
    font-size: 2vw;
}
.MenuLoja #avaliacoes {
    font-size: 2vw;
}

/* PRODUTO DESTAQUE HOME LOJA */

.produtosHomeLoja div h6 {
    font-weight: bold;
    text-align: center;    
    font-size: 1em;
}

.produtosHomeLoja ul li i {
    font-size: 1em;
}

.produtosHomeLoja span {
    font-size: 2em;
    font-weight: bold;
}

.produtosHomeLoja article {
    font-size: 12px;
}

/* ESTILOS DA PAG SOBRE E FAQ*/

#titulo-faq {
    color: white;
    padding: 30px;
}

.sobre {
    color: white;
    text-align: center;
}

.faq h3 {
    color: darkgray;
}

.faq p {
    color: gray;
}

/* NEWSLETTER */
.formularioNewsletter {
    padding: 10px;
}

/* FOOTER */

footer ul li i {
    font-size: 20px;    
}

footer p {
    font-size: 10px;    
}


/* ICONES COMPARTILHAR/CARRINHO/WHISHLIST */
.overlayProduto:hover img {
    opacity: .5;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.overlayProduto:hover #btnOverlayProduto {
    display: flex;
    flex-direction: column;
    top: 5%;
    left:5%;
    background-color: rgba(16, 14, 17, .3)
}

.overlayProduto #btnOverlayProduto {
    position: absolute;
    display: none;
}


/* MODAL */

.modal-header i {
    font-size: 20px;
    color: #ffff;
}


/* CLASSE PARA AJUSTAR IMG DA PAGINA GAME */
.img-games {
    height: 257px;
    width: 257px;
}

/* Ajuste de tamanho dos inputs */

.form-control{
  width: 380px;
}

@media only screen and (max-width: 600px) {
    .form-control {
      background-color: white!important;
      width: 280px;
    }
  }