*{


    box-sizing: border-box;
}

body{

    background-color: black;
}

.div-1{

    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.div-form{

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#entrar{

    color: red;
    text-transform: uppercase;
    text-decoration: none;
}

#cadastro{

    color:white;
    text-transform: uppercase;
    text-decoration: none;
}

.label{

    color: white;
}

footer{

    text-align: center;
}