*{

box-sizing: border-box;


}



body{

background-color: black;

}
#entrar{

    color: white;
    text-transform: uppercase;
}

#cadastro{

    color:red;
    text-transform: uppercase;
}
.div-1{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

 main .botoes {
    
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
  
 }

 main .botoes-1{

    margin: 10px 50px;
    width: 50vw;
    border: solid white;
    background-color: black;
    font-weight: bold;
    
 }

 .labels{
     color: white;
 }

 .div-form{

margin-top: 20px;
display: flex;
justify-content: center;

 }

 .enviar-btn{
     margin-top: 20px;
 }

 footer{

text-align: center;

 }